@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Press Start 2P', system-ui, sans-serif;
  }
}

:root {
  --foreground: hsl(0 0% 98%);
  --background: hsl(240 10% 3.9%);
}

html,
body,
#root {
  width: 100dvw;
  height: 100dvh;

  background-color: var(--background);
  color: var(--foreground);
}
