@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Press Start 2P', system-ui, sans-serif;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield !important;
  }
}

:root {
  --foreground: hsl(0 0% 98%);
  --background: hsl(240 10% 3.9%);
}

html,
body,
#root {
  width: 100dvw;
  height: 100dvh;

  background-color: var(--background);
  color: var(--foreground);
}
